body {
    font-family: Arial, sans-serif;
    margin: 0
}
h1 {
    margin: 5px 0 5px 0;
}
h3 {
    margin: 5px 0 5px 0;
}

/* Main Nav */
.mainnav {
  background-color: antiquewhite;
  margin: 0 0 10px 0;
}
.mainnav ul ul {
  display: none; /* Hide submenus by default */
  position: absolute;
  background-color: #fff; /* Optional: Set background color */
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Optional: Add shadow for better visibility */
}
/* Show submenus on hover */
.mainnav ul li:hover > ul {
  display: block;
}
/* Style for the main navigation items */
.mainnav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.mainnav ul li {
  position: relative;
  display: inline-block; /* Align items horizontally */
}
/* Style for links */
.mainnav ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333; /* Optional: Set text color */
  cursor: pointer; /* Change cursor to hand on hover */
}
/* Optional: Style for submenu links */
.mainnav ul ul li a {
  padding: 10px;
  color: #333; /* Optional: Set text color */
  white-space: nowrap; /* Prevent text wrapping */
  cursor: pointer; /* Change cursor to hand on hover */
}

/* Sub Nav */
ul.subNav{
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0 5px 15px 5px;
    display: flex; /* Use flexbox to arrange items horizontally */
}
ul.subNav li{
    margin-right: 20px; /* Add some space between items */
    padding: 5px 20px;
    background-color: rgb(66, 132, 255);
    color: white;
    border-radius: 5px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 12px;
    margin: 0 0 5px 0;
}
.header * {
    margin: 0 5px 0 5px;
}
.header p {
    margin: 0 0 0 10px;
}

/* Version Nav */
ul.versionnav{
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox to arrange items horizontally */
}
ul.versionnav li {
    margin: 0 0 0 5px; /* Add some space between items */
}
ul.versionnav .old {
    display: flex;
}